<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/note.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>headers}}
        
        <img class="portrait" src="/img/spring.jpeg">

        <header>
            <a href="https://www.springworks.in/">Springworks</a>
        </header>
        
    </div>
   
    {{>footers}}
    
</body>

</html>